/**
 * Center list, as found here:
 * http://stackoverflow.com/questions/1695175/how-to-horizontally-center-an-unordered-list-of-unknown-width
 */
#social {
	width: 100%;
	overflow: hidden;
}

#social ul {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: 20px;
}

#social li {
    list-style-type: none;
	position: relative;
	float: left;
	display: block;
	padding: 0
}

#social li a {
    text-decoration: none;
	padding: 0px 20px 0px 0px;
}

/** Contact */
#contact ul {
	list-style: none;
	padding-left: 0;
}

#contact li {
    list-style-type: none;
	padding-left: 0px;
	padding-top: 0px;
}
#contact li a {
    text-decoration: none;
}

#contact li a i {
    padding-right: 0px;
}

/** Sidebar Contact */
#sidebar_contact ul {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	margin-bottom: 0;
	padding: 0;
}

#sidebar_contact li {
    list-style-type: none;
	position: relative;
	float: left;
	display: block;
	padding: 0
}

#sidebar_contact li a {
    text-decoration: none;
	padding: 0px 20px 0px 0px;
	font-size: 1.5em;
}
