/**
 * Center list, as found here:
 * http://stackoverflow.com/questions/1695175/how-to-horizontally-center-an-unordered-list-of-unknown-width
 */
#social {
	width: 100%;
	overflow: hidden;
}

#social ul {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

#social li {
    list-style-type: none;
	position: relative;
	float: left;
	display: block;
	right: 50%;
}

#social li a {
    padding: 20px;
    text-decoration: none
}
