#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center
}

#social li {
    float: left;
    list-style-type: none;
}

#social li a {
    display: block;
    text-align: center;
    padding-right: 15px;
    text-decoration: none
}
