<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
	  <img src="https://en.gravatar.com/userimage/5755940/20faa922abf8b7c5c56a033b0170bcb5.jpeg"></img>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.title == "Feed" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
	<div id="sidebar_contact">
	  <ul>
		<li>
			<a href="https://github.com/drasko" target="_blank" title="GitHub">
			<i class="fa fa-github"></i>
			</a>
		</li>

		<li>
			<a href="https://twitter.com/draskodraskovic" target="_blank" title="Twitter">
			<i class="fa fa-twitter"></i>
			</a>
		</li>

		<li>
			<a href="https://www.linkedin.com/in/draskodraskovic" target="_blank" title="LinkedIn">
			<i class="fa fa-linkedin"></i>
			</a>
		</li>
	  </ul>
	</div>
  </div>

  <div class="sidebar-item">
    <p>
		{{ site.description }}
    </p>
  </div>
</div>
